body.bg-light-blue {
    background-color: #f4f7fb;
}

.status-badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.status-in-stock {
    background-color: #d1f2e5;
    color: #198754;
}

.status-out-stock {
    background-color: #fce2e4;
    color: #dc3545;
}